<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Routine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37F2B9591EBA91BA00A6AB9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F2B9701EBA91BA00A6AB9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F2B97B1EBA91BA00A6AB9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
